<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MasterPage</title>

    <link th:fragment="navigation" rel="stylesheet" type="text/css" th:href="Styling.css"/>
</head>
<body class="MasterpageBody">
<div class="masterContainer" th:fragment="navbar2">
    <nav class="masternavbar">
        <div th:if="${#bools.isTrue(models)}">

            <ul>
                <li><a th:href="@{/home}">Home</a></li>

                <li class="dropdown">
                    <a href="javascript:void(0)" class="dropbtn">My account</a>
                    <div class="dropdown-content">
                        <a th:href="@{/createTour}">Create tour</a>
                    </div>
                </li>
                <li class="MParagraph">
                    <p class="Masterdropdownname">Welcome <a th:text="${member.getUsername()}"></a></p>
                </li>
            </ul>
        </div>
    </nav>
</div>

<div class="masterContainer" th:fragment="navbarGuide">
    <nav class="masternavbar">
        <ul class="nav navbar-nav" >
            <!--Elements float right on navbar.-->
        </ul>
    </nav>
</div>

<div class="siteFooter" th:fragment="footer">
    <h4 class="BottomText">This website has been illustrated by your friendly neighbourhood Spiderman</h4>

    <h4 class="BottomProjectText">Spring 4.semester projekt</h4>
    <a th:href="@{/about}">About us</a>

</div>
</body>
</html>