<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>MasterPage</title>

    <link th:fragment="navigation" rel="stylesheet" type="text/css" th:href="Styling.css"/>
</head>
<body class="MasterpageBody">
<div class="masterContainer" th:fragment="navbar2">
    <nav class="masternavbar">

        <ul class="nav navbar-nav" th:if="${#bools.isTrue(models)}">
            <li class="active"><a class="anchor" th:href="@{/home}">LocalTravel</a></li>

            <!--Elements float right on navbar.-->
            <li style="float: right" class="active"><a class="anchor">Profile info</a></li>
            <div class="dropdown">
                <button onclick="myFunction()" class="dropbtn">Dropdown</button>
                <div id="myDropdown" class="dropdown-content">
                    <a href="#home">Home</a>
                    <a href="#about">About</a>
                    <a href="#contact">Contact</a>
                </div>
            </div>


        </ul>
    </nav>
</div>

<div class="masterContainer" th:fragment="navbarGuide">
    <nav class="masternavbar">
        <ul class="nav navbar-nav" >
            <!--Elements float right on navbar.-->
        </ul>
    </nav>
</div>

<div class="siteFooter" th:fragment="footer">
    <h4 class="BottomText">This website has been illustrated by your friendly neighbourhood Spiderman</h4>

    <h4 class="BottomProjectText">Spring 4.semester projekt</h4>
    <a th:href="@{/about}">About us</a>

</div>

<script type="text/javascript" th:src="@{../../static/Scripts/MasterpageDropdown.js}"></script>
</body>
</html>