<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MyGuide</title>
    <link rel="stylesheet" type="text/css" th:href="Styling.css"/>
</head>
<body class="GuideClass">
    <div class="container" th:include="fragments/MasterPage :: navbar2"></div>
    <div class="rowGuide">
        <div class="columnGuide1">

        </div>

        <div class="columnGuide2">

        </div>
    </div>
</body>
</html>