<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml" lang="us">
<head>
    <meta charset="UTF-8"/>
    <title>Sign Up</title>
    <link rel="stylesheet" type="text/css" th:href="Styling.css"/>
</head>
<body class="SignUpBody">

<div id="bg">
    <div class="module">
        <ul class="SignUpUI">
            <h1 class="companyNameSignUp" style="color: limegreen">LocalTravel</h1>
        </ul>

        <form class="SignUpForm" method="Post" th:action="@{/signup}">

            <!--Getting sign up information-->
            <input type="text" placeholder="Firstname" th:field="${member.firstname}" required class="textbox"/>
            <input type="text" placeholder="Lastname"  th:field="${member.lastname}"  required class="textbox"/>
            <input type="text" placeholder="Username"  th:field="${member.username}"  required class="textbox"/>
            <input type="text" placeholder="Password"  th:field="${member.password}"  required class="textbox"/>
            <input type="text" placeholder="Age"       th:field="${member.age}"       required class="textbox"/>
            <input type="text" placeholder="Email"     th:field="${member.email}"     required class="textbox"/>
            <input type="text" placeholder="Country"   th:field="${member.country}"   required class="textbox"/>
            <input type="text" placeholder="Zip Code"  th:field="${member.zipcode}"   required class="textbox"/>
            <input type="text" placeholder="Address"   th:field="${member.address}"   required class="textbox"/>
            <select class="textbox" th:field="${member.role}">
                <option value="1">User</option>
                <option value="2">Guide</option>
            </select>

            <input type="submit" value="Next" class="SignUpButton" />
        </form>
    </div>
</div>
<script th:src="@{/webjars/jquery/3.1.1/jquery.min.js}"></script>
<div th:include="fragments/MasterPage :: footer"></div>
</body>
</html>